{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block
            <p> visits: {{ visits }}</p>
        <div>
            Rango says here is the about page <br />
            <strong>{{ boldmessage }}</strong>
        </div>
        <div>
            <a href = "http://127.0.0.1:8000/">Index</a><br />
            <img src="{% static "images/rango.jpg" %}" alt="Rango: A Green Lizard" /><br />
            <img src="{{ MEDIA_URL }}images/cat.jpg">
        </div>

{% endblock %}